<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - WorkHub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <h1>🔐 WorkHub</h1>

    <form action="/admin/login" method="POST">

        <input type="text" name="username" placeholder="Usuario">

        <br><br>

        <input type="password" name="password" placeholder="Contraseña">

        <br><br>

        <button>Entrar</button>

    </form>

</div>

</body>
</html>
